.sidebar {
    .expand,
    .expanded {
        float: right;
    }
    .o-list {
		.0-list--unstyled {
			border-left: 1px solid #f0f0f0;
		}
        display: block;
        margin-top: 20px;
        margin-bottom: 0px;
        padding-left: 0px;
        li {
			cursor: pointer;
            list-style: none;
            border-bottom: 1px solid #ededed;
            padding-bottom: 10px;
			
            &.active {
                > ul {
                    display: block;
                    li:last-of-type {
                        border-bottom: 0px;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                    }
                }
            }
            a {
                &.active {
                    font-weight: bold;
                }
                display: inline-block;
            }
            > ul {
                padding-top: 0px;
                margin-top: 10px;
                display: none;
            }
        }
        .level0 {
            list-style: none;
        }
        .level1 a {
            padding-left: 15px;
        }
        .level2 a {
            padding-left: 30px;
        }
        .level3 a {
            padding-left: 45px;
        }
    }
    > .o-list {
        display: block;
        margin-top: 30px;
        padding-right: 45px;
        margin-bottom: 30px;
    }
	
	a {
		font-size: 1.2rem;
		font-weight: 600;
		color: #333333;
	}
}
